openapi: 3.1.0
info:
  title: PrymeStudy Connect API
  version: 1.0.0
  description: Enterprise partner SSO and institutional data integration API for PrymeStudy.
servers:
  - url: https://prymestudy.com
    description: PrymeStudy platform authority
paths:
  /connect/v1/oauth/token:
    post:
      servers:
        - url: https://auth.prymestudy.com
          description: PrymeStudy Identity authority
      operationId: issueConnectAccessToken
      summary: Exchange an authenticated client assertion for a short-lived Connect access token
      description: Integration/service identity authentication is performed by PrymeStudy Identity. The resulting scoped bearer token is presented to the platform Connect API.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type, client_id, client_assertion_type, client_assertion]
              properties:
                grant_type:
                  type: string
                  const: client_credentials
                client_id:
                  type: string
                  minLength: 8
                  maxLength: 120
                client_assertion_type:
                  type: string
                  const: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
                client_assertion:
                  type: string
                  minLength: 32
                  maxLength: 12000
                scope:
                  type: string
                  maxLength: 4000
      responses:
        '200':
          description: Short-lived scoped access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }

  /connect/v1/launches:
    post:
      operationId: createConnectLaunch
      summary: Create a short-lived one-time PrymeStudy Identity launch
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LaunchRequest'
      responses:
        '201':
          description: Launch created; launch_url points to auth.prymestudy.com
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaunchResponse'
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }

  /connect/v1/students:upsert:
    post:
      operationId: upsertConnectStudents
      summary: Create or update institution-scoped student records
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertStudentsRequest'
      responses:
        '202':
          description: Accepted for reconciliation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertResponse'
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }

  /connect/v1/courses:upsert:
    post:
      operationId: upsertConnectCourses
      summary: Create or update institution-scoped course records
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCoursesRequest'
      responses:
        '202':
          description: Accepted for reconciliation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertResponse'
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }

  /connect/v1/enrollments:upsert:
    post:
      operationId: upsertConnectEnrollments
      summary: Create or update institution-scoped course enrolments
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertEnrollmentsRequest'
      responses:
        '202':
          description: Accepted for reconciliation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertResponse'
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }

  /connect/v1/sync-jobs/{jobId}:
    get:
      operationId: getConnectSyncJob
      summary: Read the status of an institution-scoped synchronization job
      security: [{ bearerAuth: [] }]
      parameters:
        - name: jobId
          in: path
          required: true
          schema: { type: string, minLength: 3, maxLength: 128 }
      responses:
        '200':
          description: Sync job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncJob'
        '401': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: Stable unique key for safe mutation retry. Use a fresh key for a materially different request.
      schema:
        type: string
        minLength: 16
        maxLength: 128

  responses:
    Error:
      description: Connect error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'

  schemas:
    TokenResponse:
      type: object
      required: [access_token, token_type, expires_in, scope]
      properties:
        access_token: { type: string, minLength: 32 }
        token_type: { type: string, const: Bearer }
        expires_in: { type: integer, minimum: 30, maximum: 3600 }
        scope: { type: string }
      additionalProperties: false

    AcademicClaims:
      type: object
      required: [institution]
      properties:
        institution: { type: string, minLength: 1, maxLength: 120 }
        college: { type: string, minLength: 1, maxLength: 120 }
        department: { type: string, minLength: 1, maxLength: 120 }
        programme: { type: string, minLength: 1, maxLength: 120 }
        level: { type: string, minLength: 1, maxLength: 64 }
      additionalProperties: false

    IdentityClaims:
      type: object
      required: [sub]
      properties:
        sub: { type: string, minLength: 8, maxLength: 191 }
        email: { type: string, format: email, maxLength: 255 }
        email_verified: { type: boolean }
        matric_number: { type: string, minLength: 1, maxLength: 191 }
        first_name: { type: string, maxLength: 120 }
        last_name: { type: string, maxLength: 120 }
        other_name: { type: string, maxLength: 120 }
        phone: { type: string, maxLength: 32 }
      additionalProperties: false

    LaunchRequest:
      type: object
      required: [identity, academic]
      properties:
        identity: { $ref: '#/components/schemas/IdentityClaims' }
        academic: { $ref: '#/components/schemas/AcademicClaims' }
        return_url: { type: string, format: uri, maxLength: 2048 }
        state: { type: string, maxLength: 512 }
      additionalProperties: false

    LaunchResponse:
      type: object
      required: [launch_id, launch_url, expires_at]
      properties:
        launch_id: { type: string }
        launch_url:
          type: string
          format: uri
          examples: [https://auth.prymestudy.com/connect/launch/psl_example]
        expires_at: { type: string, format: date-time }
      additionalProperties: false

    UpsertStudentsRequest:
      type: object
      required: [items]
      properties:
        items:
          type: array
          minItems: 1
          maxItems: 500
          items:
            type: object
            required: [external_id, email, academic]
            properties:
              external_id: { type: string, minLength: 1, maxLength: 191 }
              matric_number: { type: string, maxLength: 100 }
              email: { type: string, format: email, maxLength: 255 }
              first_name: { type: string, maxLength: 120 }
              last_name: { type: string, maxLength: 120 }
              name: { type: string, maxLength: 255 }
              status: { type: string, enum: [pending, active, inactive] }
              academic: { $ref: '#/components/schemas/AcademicClaims' }
            additionalProperties: false
      additionalProperties: false

    UpsertCoursesRequest:
      type: object
      required: [items]
      properties:
        items:
          type: array
          minItems: 1
          maxItems: 500
          items:
            type: object
            required: [external_id, code, title, academic]
            properties:
              external_id: { type: string, minLength: 1, maxLength: 191 }
              code: { type: string, minLength: 1, maxLength: 80 }
              title: { type: string, minLength: 1, maxLength: 255 }
              description: { type: string, maxLength: 10000 }
              units: { type: integer, minimum: 0, maximum: 30 }
              semester: { type: string, maxLength: 40 }
              status: { type: string, enum: [active, inactive, archived] }
              academic: { $ref: '#/components/schemas/AcademicClaims' }
            additionalProperties: false
      additionalProperties: false

    UpsertEnrollmentsRequest:
      type: object
      required: [items]
      properties:
        items:
          type: array
          minItems: 1
          maxItems: 500
          items:
            type: object
            required: [external_id, student_external_id, course_external_id, academic_session, semester]
            properties:
              external_id: { type: string, minLength: 1, maxLength: 191 }
              student_external_id: { type: string, minLength: 1, maxLength: 191 }
              course_external_id: { type: string, minLength: 1, maxLength: 191 }
              academic_session: { type: string, minLength: 1, maxLength: 50 }
              semester: { type: string, minLength: 1, maxLength: 40 }
              status: { type: string, enum: [active, dropped, completed] }
            additionalProperties: false
      additionalProperties: false

    UpsertResponse:
      type: object
      required: [job_id, accepted, rejected, errors]
      properties:
        job_id: { type: string }
        accepted: { type: integer, minimum: 0 }
        rejected: { type: integer, minimum: 0 }
        errors:
          type: array
          items:
            type: object
            properties:
              external_id: { type: [string, 'null'] }
              message: { type: [string, 'null'] }
            additionalProperties: true
      additionalProperties: false

    SyncJob:
      type: object
      required: [job_id, status, total_items, successful_items, failed_items]
      properties:
        job_id: { type: string }
        status: { type: string, enum: [queued, processing, completed, partially_failed, failed] }
        total_items: { type: integer, minimum: 0 }
        successful_items: { type: integer, minimum: 0 }
        failed_items: { type: integer, minimum: 0 }
        created_at: { type: [string, 'null'], format: date-time }
        finished_at: { type: [string, 'null'], format: date-time }
      additionalProperties: false

    ErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, request_id, details]
          properties:
            code: { type: string }
            message: { type: string }
            request_id: { type: string }
            details:
              type: array
              items: {}
          additionalProperties: false
      additionalProperties: false
